body {
    font-family: Times;
    background: url(image/shutterstock_232768828_0.jpg) no-repeat fixed center;
    background-size: cover;
    font-size: medium;
    text-align: center;
    color: aliceblue;
}

